* {
    background-color: black;
    font-family: Helvetica, Arial, sans-serif;
    color: seashell;
    font-size: 22px;
}

header {
    position: fixed;
    padding: auto 10px;
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.9;
    width: 100vw;
    z-index: 1;
}

.header-links {
    list-style-type: none;
    text-decoration: underline;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-end;
}

.header-links li {
    margin: 10px;
    display: inline-block;
}

main {
    position: relative;
    top: 70px;
}

.mission-section {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    box-sizing: border-box;
    background-image: url("./images/background-image.jpg");
    opacity: 0.9;
}

.mission-text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}